<div class="row">
	<div class="col-xs-12 col-sm-2"><label>Heading:</label></div>
	<div class="col-xs-12 col-sm-10">
		<%= text_field_tag 'heading', @settings['heading'], style: 'width: 100%' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-2"><label>Content:</label></div>
	<div class="col-xs-12 col-sm-10">
		<%= text_area_tag 'content', @settings['content'], rows: '4', style: 'resize: none; width: 100%;' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-2"><label>Link Text:</label></div>
	<div class="col-xs-12 col-sm-10">
		<%= text_field_tag 'link_text', @settings['link_text'], style: 'width: 100%' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-2"><label>URL:</label></div>
	<div class="col-xs-12 col-sm-10">
		<%= text_field_tag 'link', @settings['link'], style: 'width: 100%' %>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-xs-12 col-sm-2"><label>Graph Heading:</label></div>
	<div class="col-xs-12 col-sm-10">
		<%= text_field_tag 'graph_heading', @settings['graph_heading'], style: 'width: 100%' %>
	</div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-2"><label>Footer Content</label></div>
  <div class="col-xs-12 col-sm-10">
    <%= text_area_tag "footer_content", @settings["footer_content"], style: 'width: 100%', class: 'datatype-wysiwyg-dynamic', id: (0...8).map { (65 + rand(26)).chr }.join.to_s %>
  </div>
</div>
<h3>Graph Values</h3>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<%= text_field_tag 'label_2010', @settings['label_2010'], style: 'width: 100%', placeholder: 'Label 1' %>
	</div>
	<div class="col-xs-12 col-sm-6">
		<span>$</span><%= number_field_tag 'value_2010', @settings['value_2010'], style: 'width: 95%', placeholder: 'Value 1', step: 'any' %><span>b</span>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<%= text_field_tag 'label_2011', @settings['label_2011'], style: 'width: 100%', placeholder: 'Label 2' %>
	</div>
	<div class="col-xs-12 col-sm-6">
		<span>$</span><%= number_field_tag 'value_2011', @settings['value_2011'], style: 'width: 95%', placeholder: 'Value 2', step: 'any' %><span>b</span>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<%= text_field_tag 'label_2012', @settings['label_2012'], style: 'width: 100%', placeholder: 'Label 3' %>
	</div>
	<div class="col-xs-12 col-sm-6">
		<span>$</span><%= number_field_tag 'value_2012', @settings['value_2012'], style: 'width: 95%', placeholder: 'Value 3', step: 'any' %><span>b</span>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<%= text_field_tag 'label_2013', @settings['label_2013'], style: 'width: 100%', placeholder: 'Label 4' %>
	</div>
	<div class="col-xs-12 col-sm-6">
		<span>$</span><%= number_field_tag 'value_2013', @settings['value_2013'], style: 'width: 95%', placeholder: 'Value 4', step: 'any' %><span>b</span>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<%= text_field_tag 'label_2014', @settings['label_2014'], style: 'width: 100%', placeholder: 'Label 5' %>
	</div>
	<div class="col-xs-12 col-sm-6">
		<span>$</span><%= number_field_tag 'value_2014', @settings['value_2014'], style: 'width: 95%', placeholder: 'Value 5', step: 'any' %><span>b</span>
	</div>
</div>