<div class="col-xs-12">
  <div class="graph box page-editor-target">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="box-stats js-match-height">
          <div class="box-stats__title">
            <p><%= @data[:graph_heading] %></p>
          </div>
          <div class="chart">
            <svg height="180" viewBox="0 0 345 180" preserveAspectRatio = "none" class="chart__path">
              <polyline class="chart__path-line"
                 fill="none"
                 stroke="#dd0031"
                 stroke-width="3"
                 points="
                 <% xcoords = [35, 105, 170, 240, 310] %>
                 <% @data[:values].each_with_index do |v, i| %>
                  <%= xcoords[i] %>,<%= v[:coord] %>
                 <% end %>
                   "/>
                   <% # 35,144
                   # 105,125
                   # 170,90
                   # 240,55
                   # 310,0"/>
                   %>
            </svg>
            <div class="chart__axis">
              <ul>
                <% year = 2010 %>
                <% @data[:values].each do |v| %>
                  <li class="chart__axis-year chart__axis-year--<%= year %>" style="height: <%= v[:height] %>%;">
                    <div class="chart__axis-dot"></div>
                    <div class="chart__number">
                      <p><span class="chart__number--dol">$</span><%= v[:value] %><span>b</span></p>
                    </div>
                  </li>
                  <% year+=1 %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7">
        <div class="box-content js-match-height">
          <h3 class="box-content__heading"><%= @data[:heading] %></h3>
          <div class="box-content__content content">
            <p><%= @data[:content] %></p>
            <a href="<%= @data[:link] %>" class="box-content__link"><%= @data[:link_text] %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% unless @data[:footer_content].blank? %>
    <div class="graph__footer">
      <div class="graph__footer-content">
        <%= @data[:footer_content].html_safe %>
      </div>
    </div>
  <% end %>
</div>
<style type="text/css">
  <% year = 2010 %>
  <% @data[:values].each do |v| %>
    <% unless v[:label].blank? %>
      .chart__axis-year--<%= year %>:after { content: "<%= v[:label] %>" }
      <% year+=1 %>
    <% end %>
  <% end %>
</style>